// Typography
$font-size-base: 16px;
$line-height-base: 150%;
$ff-main: 'Inter', sans-serif;


$color-accent: #144CFB;
$color-accent-sub: #EEF9FF;
$color-accent-light-sub: #EEF9FF;
$color-accent-lite: #F8FAFC;
$color-dark: #242629;
$color-second: #F4F8F9;
$color-gray: #F9F9FB;
$color-gray-text: #B8B7B7;
$color-gray-bg: #EEEEEE;
$color-danger: #FF4838;
$color-succss: #70C3A7;

