@import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #F4F8F9;
  line-height: 150%;
}

input, textarea {
  height: 40px;
  border: 1px solid #B8B7B7;
  font-family: inherit;
  padding: 10px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #B8B7B7;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #B8B7B7;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #B8B7B7;
}

input::placeholder, textarea::placeholder {
  color: #B8B7B7;
}

.auth {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
}

.auth__col {
  padding: 100px 50px 0 100px;
  width: 100%;
  height: 100%;
  display: block;
}

.auth__col_pattern {
  padding: 0;
  background-image: url("./pattern.svg");
  background-position: center;
}

.auth__content {
  margin-top: 60px;
}

.auth__text {
  max-width: 70%;
  line-height: 130%;
  margin: 20px 0;
}

.auth__link {
  text-decoration: underline;
  font-weight: 600;
}

.form-auth {
  background: #ffffff;
  width: 380px;
}

.form-auth__label {
  margin: 10px 0 5px 0;
  display: block;
}

.form-auth__input {
  width: 100%;
}

.form-auth__btn {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  background: #242629;
  color: #ffffff;
}

.form-auth__reset {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #718096;
  text-decoration: none;
  text-align: center;
}

.form-auth__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-auth__box {
  margin-right: 20px;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.dashboard__col {
  width: 20%;
  padding: 60px 40px;
  background: #ffffff;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.dashboard__col.big {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
  padding: 30px;
  position: relative;
}

.dashboard__photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #74DBE1;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.dashboard__personal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard__direction {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
  color: #B8B7B7;
}

.dashboard__list {
  padding: 30px 0;
}

.dashboard__item {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__item svg {
  margin-right: 15px;
}

.dashboard__logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__logout svg {
  margin-right: 20px;
}

.dashboard-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-info.outer {
  margin-top: 50px;
}

.dashboard-info__item {
  padding: 10px 0;
  border-bottom: 1px solid #F9F9FB;
}

.dashboard-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-info__box svg {
  margin-right: 10px;
}

.dashboard-info__text {
  margin-top: 10px;
  font-size: 12px;
  color: #B8B7B7;
  font-weight: 200;
}

.dashboard-article {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.dashboard-article__item {
  display: block;
  padding: 25px;
  width: 100%;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  margin-right: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.dashboard-article__item.favorite {
  background: #144CFB;
  color: #ffffff;
}

.dashboard-article__item:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  opacity: .7;
}

.dashboard-article__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-article__cat {
  font-size: 12px;
  margin-bottom: 5px;
}

.dashboard-article__subtitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.dashboard-article__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.dashboard-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-rate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-header__add {
  display: block;
  border: 1px solid #144CFB;
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}

.form-dashboard {
  padding: 40px;
  background: #ffffff;
  margin-top: 30px;
}

.form-dashboard .select2-container, .form-dashboard .select2 {
  width: 61% !important;
  margin: 20px 0;
}

.dashboard-analytics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.dashboard-analytics__item {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  margin-right: 30px;
}

.dashboard-analytics__title {
  color: #242629;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.dashboard-analytics__number {
  font-size: 40px;
  font-weight: 700;
}
/*# sourceMappingURL=admin.css.map */