@import "~bootstrap/scss/bootstrap";
@import "_variables.scss";
* {
    padding: 0;
    margin: 0;
}
.admin-title {
    font-size: 35px;
    display: flex;
    align-items: center;
    &__circle {
        padding: 10px;
        background: $color-accent;
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        margin-left: 20px;
    }
}
.admin-dash {
    display: flex;
    justify-content: space-between;
    &__col {
        width: 80%;
        padding: 40px;
        height: 100vh;
        &.bg {
            background: linear-gradient(185.13deg, #3060F8 1.88%, #1640C8 100%);
            width: 20%;
        }
        .container {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
    &__link {
        color: #ffffff;
        &:hover {
            color: #ffffff;
            text-decoration: underline;
        }
    }
    &__item {
        padding: 10px 0;
        border-bottom: 1px solid #3868FF;
    }
}
.list-admin {
    &__row {
        display: flex;
        align-items: center;
        & > * {
            margin-left: 10px;
        }
    }
}
.alert {
    &-disabled {
        opacity: .3;
    }
}
